<div class="card">
  <h2 class="card-title">{{ article.title }}</h2>
  @if (article.isPublished) {
    <div>
      <img [src]="article.image" alt="">
      <p class="card-content">{{article.content}}</p>
      <p><em>Auteur: </em>{{ article.author }}</p>
    </div>
    <div>
      <input [(ngModel)]="article.comment" placeholder="Ecris ton commentaire ...">
      <p>Ton Commentaire : <span>{{ article.comment }}</span></p>
    </div>
  }
  <button (click)="togglePublication()">
    {{ article.isPublished ? 'Dépublier' : 'Publier' }}
  </button>

</div>
