@for (article of articles; track $index) {
  <app-article [article]="article"/>
  <!-- @if (article.isPublished) {

    <div class="card" [ngClass]="{'popular-article': article.likes > 100}" (click)="goToArticlePage(article.id)">
      <h2 class="card-title" [ngStyle]="{'color': article.likes >= 150 ? 'green' : 'black'}" >{{article.title}}</h2>
      <img [src]="article.image" alt="">
      <p class="card-content" >{{article.content}}</p>
      <p><em>Auteur: </em>{{article.author}}</p>
      <div>
        <input [(ngModel)]="article.comment" placeholder="Ecris ton commentaire ...">
        <p>Ton Commentaire : <span>{{article.comment}}</span></p>
      </div>
    </div>
  } -->

} @empty {
  <div>
    <h2 class="card-title">Aucun article publié pour le moment</h2>
  </div>
}
